{% extends "base.html" %}

{% block content %}
<style>
    .header {
        text-align: center;
    }
</style>


<h1 class="header">Build a Blog</h1>

{% if blogs|length == 0 %}
        <p>No Entries yet</p>
        {% else %}
        
            {% for blog in range(blogs|length, 0, -1) %}
            <h2><a href="/blog?id={{blog.id}}">{{blogs[blog - 1].title}}</a></h2>
            <p>{{blogs[blog - 1].body}}</p>
            <hr />
            {% endfor %}
            
        {% endif %}


    
{% endblock %}